.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
  .text-3xl {
    font-size: 3rem;
  }
  
  .text-xl {
    font-size: 1.5rem;
  }
  
  .text-lg {
    font-size: 1.125rem;
  }
  
  .text-base {
    font-size: 1rem;
  }
  
  .font-bold {
    font-weight: bold;
  }
  
  .font-medium {
    font-weight: 500;
  }
  
  .mb-2 {
    margin-bottom: 0.5rem;
  }
  
  .mb-5 {
    margin-bottom: 2.5rem;
  }
  
  .mt-10 {
    margin-top: 2.5rem;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-col {
    flex-direction: column;
  }
  
  .flex-row {
    flex-direction: row;
  }
  
  .justify-between {
    justify-content: space-between;
  }
  
  .w-full {
    width: 100%;
  }
  
  
  .md\:w-1\/2 {
    @media (min-width: 768px) {
      width: 50%;
    }
  }
  
  .md\:w-full {
    @media (min-width: 768px) {
      width: 100%;
    }
  }
  
  .md\:pr-10 {
    @media (min-width: 768px) {
      padding-right: 2.5rem;
    }
  }
  
  .shadow-lg {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  }
  
  .rounded-lg {
    border-radius: 0.5rem;
  }