body {
    background-image: url("../assets/black.JPG");
    background-size: cover;
    background-position: center;
    color: white;
  }
  
.background{
    position: absolute;
    top: 80px;
    width: 80%;
}

a {
    color: white;
    text-decoration: none;
}
.container {
    display: flex
}