body {
    background-image: url("../assets/backgroundcalm.jpg");
    background-size: cover;
    background-position: center;
    color: white;
  }
  
.background{
    position: absolute;
    top: 80px;
}

a {
    color: white;
    text-decoration: none;
}
.container {
    display: flex
}