.home {
    position: relative;
  }
  
  #video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .content {
    position: absolute;
    top: 50%;
    left: 47%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
  }
  
  .formback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }
  
  form div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 100px;
  }
  
  input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 218px;
    left: 700px;
  }
  
  .dropdown ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    color:black;
    border-top: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  
  .dropdown ul li {
    padding: 12px 16px;
    cursor: pointer;
  }
  
  .dropdown ul li:hover {
    background-color: #f1f1f1;
  }
  
  .mainsearch{
    display: flex;
    flex-direction: row;
    width: 500px;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 700px;
    height: 100px;
}