li {
    display: inline;
    padding: 10px;
    cursor: pointer;
  }
  
  li:hover {
    background-color: #ddd;
  }
  .category-options {
    text-align: center;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .category-list {
    list-style: none;
    padding: 0;
  }